@use 'mixins' as *;
@use 'variables' as *;

// cart section
.cart {
  @include flex(column);
  width: 300px;
  height: fit-content;
  flex: 1 0 380px;
  padding: 1rem;
  background-color: $white;
  border-radius: 12px;
  gap:24px;
   p{
      @include TextPreset4;
      color: $rose-900;
    }

  h2 {
    @include TextPreset2;
    color: $red;
  }
.name{
  @include flex(column);
  gap:0.5rem;
  h3{
    @include TextPreset4Bold;
  }
  .details{
    @include flex(row);
    gap:0.5rem;
    .quantity{
      @include TextPreset4Bold;
      color: $red;
    }
    p{
       color: $rose-500;
    }
   .price{
    @include TextPreset4;
   }
   .totalquantity{
    @include TextPreset4Bold;
   }
  }

}
  .product{
    @include flex(row,space-between,center);
    padding-bottom: 1rem;
    border-bottom: 1px solid $rose-100;
  }

  .content {
    width: 100%;
    height: fit-content;
    @include flex(column);
    gap:1rem;
    .empty-cart-content {
      @include flex(column, center, center);
      width: 100%;
      
      p {
        @include TextPreset4Bold;
        color: $rose-500;
      }
    }
    button{
      border: 1px solid $rose-400;
      width:20px;
      height: 20px;
      display: grid;
      place-content: center;
      border-radius: 50%;
      .close{
        fill: $rose-400;
      }
      &:hover{
        border-color: $rose-900;
        .close{
        fill: $rose-900;
      }
      }
    }
  }
  .carbon{
    @include flex(row,center);
    gap:0.5rem;
    background-color: $rose-50;
    border-radius: 0.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  .order{
   .bold{
    @include TextPreset4Bold;
   }
    h2{
      @include TextPreset2;
      color: $rose-900;
    }
    @include flex(row,space-between,center);

  }
  .ord-btn{
    width:100%;
    border: none;
    background-color: $red;
    @include TextPreset3;
    color: $white;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: center;
    border-radius: 50px;
      cursor: pointer;
        &:hover {
        color: $white;
        border-color: $red;
        transition: all 300ms ease-in-out;
      }
  }

}

.confirmedmodal{
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100vh;             /* Use height instead of max-height */
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow-y: auto; 
  background-color: rgba($color: #000000, $alpha: 0.5);
  @include flex(row,center,center);
  
  .box{
    width:592px;
    background-color: $white;
    border-radius: 12px;
    padding: 40px;
    margin: auto;
    @include flex(column,flex-start,flex-start,1rem);
      p{
      color: $rose-900;
    }
  }
  .conftop{
    @include flex(column,flex-start,flex-start,24px);
      color: $rose-900;
    .title{
      @include flex(column);
      gap:0.5rem;
    }
    h2{
      @include TextPreset1;
    }
    p{
      color: $rose-500;
    }
  }
  .desserts{
    padding: 24px;
    width:100%;
    @include flex(column,flex-start,flex-start,24px);
    background-color: $rose-50;
    .product{
      @include flex(row,space-between,center);
      width: inherit;
      padding-bottom: 1rem;
      border-bottom: 1px solid $rose-100;
       .totalquantity{
        @include TextPreset4Bold;
      }
    }
    .image{
      width:48px;
      height: 48px;
      
      img{
        width: 100%;
        object-fit: cover;
        border-radius: 4px;
      }
    }
    .detail{
      @include flex(row,flex-start,flex-start,1rem);
      .dessertname{
        @include TextPreset4Bold;
        color: $rose-900;
      }
      .priceandquantity{
        @include flex(row,flex-start,center,0.5rem);
      }
         .quantity{
      @include TextPreset4Bold;
      color: $red;
    }
    p{
       color: $rose-500;
    }
   .price{
    @include TextPreset4;
   }
  }
      .order{
        width: inherit;
         @include flex(row,space-between,center);
   p{
    @include TextPreset4;
   }
    h2{
      @include TextPreset2;
      color: $rose-900;
    }
  }  
}
  .ord-btn{
    width:100%;
    border: none;
    background-color: $red;
    @include TextPreset3;
    color: $white;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: center;
    border-radius: 50px;
      cursor: pointer;
        &:hover {
        color: $white;
        border-color: $red;
        transition: all 300ms ease-in-out;
      }
  }
}
h2{
  margin: 0;
}

@media(max-width:670px){
  .cart{
    width:100%;
  }
  .confirmedmodal{
    .box{
    width: 90%;

  }
  }
}
@media(max-width:375px){
 .confirmedmodal{
  align-items: end;
   .box{
 
    width:100%;
    padding: 40px 24px;
  }
 }
}