@use 'mixins' as *;
@use 'variables' as *;

// @mixin flex($direction:row, $justify:flex-start, $align:stretch, $gap:0) {
//   display: flex;
//   flex-direction: $direction;
//   justify-content: $justify;
//   align-items: $align;
//   gap: $gap;
// }
// cart section
.cart {
  width: 300px;
  height: fit-content;
  flex: 1 0 380px;
  padding: 1rem;
  background-color: $white;
  border-radius: 12px;
  h2 {
    @include TextPreset2;
    color: $red;
  }
.name{
  @include flex(column);
  .details{
    @include flex(row)
  }

}
  .product{
    @include flex(row,space-between,center)
  }

  .content {
    width: 100%;
    height: fit-content;

    .empty-cart-content {
      @include flex(column, center, center);
      width: 100%;
      
      p {
        @include TextPreset4Bold;
        color: $rose-500;
      }
    }
    button{
      border: 1px solid $rose-400;
      width:20px;
      height: 20px;
      display: grid;
      place-content: center;
      border-radius: 50%;
      .close{
        fill: $rose-400;
      }
      &:hover{
        border-color: $rose-900;
        .close{
        fill: $rose-900;
      }
      }
    }
  }
}
@media(max-width:768px){
  .cart{
    width:100%;
  }
}
